/* font-family: 'Old Standard TT', serif; */

* {
    box-sizing: border-box;
}
body {
    background: linen;
    font-family: 'Old Standard TT', serif;
}

h1 {
    text-transform: uppercase;
    padding: 5px;
    color: #fff;
    text-shadow: 2px 1px 1px rgb(75, 59, 39);
    font-size: 4em;
}

header {
    background: #a79274;
}

div.gras {
    font-weight: bolder;
    font-size: 1.4em;
}
div.row-reverse {
    text-align: center;
}
.conteneur {
    margin: 0 auto;
    width: 80%;
    background: #fff;
    padding: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.row-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

/* définition de la largeur des colonnes en %  on calcule la première colonne (100/12) que l'on multiplie pour avoir les autres valeurs*/

.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.666666%;
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.333333%;
}

.col-8 {
    width: 66.666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333%;
}

.col-11 {
    width: 91.666666%;
}

.col-12 {
    width: 100%;
}

/* les marges à gauche pour créer si on le veut des colonnes vides */
.marge-1 {
    margin-left: 8.333333%;
}

.marge-2 {
    margin-left: 16.66666%;
}

.marge-3 {
    margin-left: 25%;
}

.marge-4 {
    margin-left: 33.333333%;
}

.marge-5 {
    margin-left: 41.666666%;
}

.marge-6 {
    margin-left: 50%;
}

.marge-7 {
    margin-left: 58.333333%;
}

.marge-8 {
    margin-left: 66.666666%;
}

.marge-9 {
    margin-left: 75%;
}

.marge-10 {
    margin-left: 83.333333%;
}

.marge-11 {
    margin-left: 91.666666%;
}